<div *ngFor="let alert of alerts" class="alert-container">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{alert.msg}}</alert>
</div>
<div class="cover-container d-flex p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h4>{{mainDataItems?.title}}</h4>
        <div class="collapse navbar-collapse" id="navBar">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 my-2 no-bottom-margin">
            <ng-container *ngFor="let item of mainDataItems?.contents">
              <li class="nav-item" [ngClass]="!item.isCollapsed ? 'active' : ''">
                <a class="nav-link" (click)="showContent(item.id)">{{item.menuItem}}</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main role="main" class="inner cover">
    <ng-container *ngFor="let data of mainDataItems?.contents">
      <app-page-content
        [templateId]="data.id"
        [isCollapsed]="data.isCollapsed"
        [isAnimated]="data.isAnimated"
        [isFormContent]="data.id === 'contact'"
        [dataItems]="data.dataItems"
        (goToRepo)="goToLink($event.name, $event.url)"
        (submit)="onSubmit({name: $event.name, email: $event.email, message: $event.message})">
      </app-page-content>
    </ng-container>
  </main>
  <footer class="mastfoot mt-auto">
    <div class="container">
      <div class="row copyright-text">
        <div class="col-sm">
          <span class="text-left">{{mainDataItems?.copyright}}</span>
        </div>
        <div class="col-sm">
          <span class="text-right link-container">
            <a (click)="goToLink('portfolio GitHub', mainDataItems.gitHubUrl)">{{mainDataItems?.gitHubMessage}}<img src="../assets/img/github.png"></a>
          </span>
        </div>
      </div>
    </div>
  </footer>
</div>
